header
{
    width: 100%;
    background-color: black;
    padding: 35px 66px 0 66px;
}
header nav
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
header nav ul
{
    display: flex;
    gap: 8px;
    align-items: center;
}
header nav ul:nth-child(2)
{
    gap: 5px;
}
header nav ul a
{
    padding: 0 24px;
    color: var(--white-clr);
    font-size: 20px;
    position: relative;
}
.active-link::after
{
    content: url('../../../assets/img/game-icons_feather.png');
    position: absolute;
    bottom: 6px;
    width: 12px;
    height: 12px;
    margin: 0 auto; 
    left: 30%;
    transform: rotate(-20deg);
    animation: activeLinkAnimation 0.3s ease-in-out;
}
header nav ul a:hover
{
    color: var(--light-blue-clr);
}
header nav ul:nth-child(2) li:hover
{
    opacity: 0.8;
}
header.mobile
{
    display: none;
}
header.mobile .bar-container
{
    display: inline-block;
    cursor: pointer;
}
.bar1,
.bar2,
.bar3
{
    width: 35px;
    height: 3px;
    background-color: var(--white-clr);
    margin: 6px 0;
    border-radius: 40px;
    transition: 0.4s;
}
.bar2
{
    width: 20px;
    margin-left: 0px;
}
.change .bar1
{
    transform: translate(0, 11px) rotate(-45deg);
}
.change .bar2
{
    opacity: 0;
}
.change .bar3
{
    transform: translate(0, -11px) rotate(45deg);
}
header ul.nav-open
{
    display: block;
    display: flex;
    flex-direction: column;
}
header ul.nav-closed
{
    display: none;
}
@keyframes activeLinkAnimation
{
    from
    {
        bottom: 20px;
        opacity: 0;
        left: 40%;
        transform: rotate(-50deg);
    }
    to
    {
        bottom: 6px;
        opacity: 1;
        left: 30%;
        transform: rotate(-20deg);
    }
}
@media screen and (max-width: 900px)
{
    header
    {
        width: 100%;
        padding: 35px 10px 0 10px;
    }
    header nav ul a
    {
        padding: 0 10px;
        font-size: 18px;
    }
}
@media screen and (max-width: 650px)
{
    header.desktop
    {
        display: none;
    }
    header.mobile
    {
        display: block;
        background-color: red;
    }
}