header
{
    width: 100%;
    background-color: black;
    padding: 35px 66px 0 66px;
}
header nav
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
header nav ul
{
    display: flex;
    gap: 8px;
    align-items: center;
}
header nav ul:nth-child(2)
{
    gap: 5px;
}
header nav ul a
{
    padding: 0 24px;
    color: var(--white-clr);
    font-size: 20px;
    position: relative;
}
.active-link::after
{
    content: url('../../../assets/img/game-icons_feather.png');
    position: absolute;
    bottom: 6px;
    width: 12px;
    height: 12px;
    margin: 0 auto; 
    left: 30%;
    transform: rotate(-20deg);
}
header nav ul a:hover
{
    color: var(--light-blue-clr);
}