.hero-component
{
    width: 100%;
}
.hero-component h1
{
    font-size: 64px;
    font-weight: bold;
    margin-bottom: 14px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 40px;
    background-image: linear-gradient(to bottom, var(  --dark-blue-clr), var(--light-blue-clr));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.hero-component p
{
    color: var(--white-clr);
    font-size: 20px;
    margin-bottom: 22px;
    text-align: center;
}
.hero-component button
{
    position: relative;
    background-color: transparent;
    color: var(--white-clr);
    font-size: 15px;
    left: 50%;
    margin-top: 30px;
}
.hero-component button span
{
    position: absolute;
    bottom: 0;
    white-space: nowrap;
    left: 36px;
}
.hero-component img:nth-child(1)
{
    position: absolute;
    left: 0;
    left: 50%;
}
.hero-component img:nth-child(2)
{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.hero-images
{
    position: relative;
    overflow: hidden;
    width: 100%;
}
.hero-images img:nth-child(2)
{
    position: absolute;
    top: 0;
    width: 110%;
}
.hero-images img
{
    transition: transform 0.2s ease-in-out;
}
.hero-images .hero-image
{
    margin: auto;
    display: block;
    width: 100%;
}
@media screen and (max-width: 600px)
{
    .hero-images .hero-image
    {
        width: 150%;
    }
    .hero-component
    {
        width: 90%;
        margin: auto;
    }
    .hero-component h1
    {
        font-size: 54px;
    }
}