.subscribe-section
{
    width: 100%;
    margin-top: 188px;
}
.subscribe-section h5
{
    color: var(--white-clr);
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 26px;
    text-align: center;
}
.subscribe-section p
{
    color: var(--white-clr);
    font-size: 20px;
    text-align: center;
}
.subscribe-section .input-container
{
    width: 40%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    position: relative;
    border-radius: 37px;
}
.subscribe-section .input-container img
{
    position: absolute;
    left: 48px;
    top: 50%;
    transform: translateY(-50%);
}
.subscribe-section .input-container input
{
    width: 100%;
    background-color: transparent;
    border: 5px solid transparent;
    height: 80px;
    padding-left: 120px;
    border-image: linear-gradient(to right, #A3A3A3, #CCCCCC, #FFFFFF, #CCCCCC, #A3A3A3)1;
}
.subscribe-section .input-container input::placeholder,
.subscribe-section .input-container input
{
    font-size: 24px;
    color: #e6e6e652;
}
.subscribe-section .input-container input
{
    color: var(--white-clr);
    background-color: var(--medium-blue-clr);
}
.subscribe-section button
{
    position: relative;
    background-color: transparent;
    color: var(--white-clr);
    font-size: 15px;
    left: 50%;
    margin-top: 30px;
    margin-bottom: 40px;
}
.subscribe-section button span
{
    position: absolute;
    bottom: 0;
    white-space: nowrap;
    left: 36px;
}
.subscribe-section img:nth-child(1)
{
    position: absolute;
    left: 0;
    left: 50%;
}
.subscribe-section img.img2
{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.subscribe-section .error-message
{
    color: var(--white-clr);
    position: absolute;
    bottom: 2px;
    right: 26px;
}
@media screen and (max-width: 1000px)
{
    .subscribe-section .input-container
    {
        width: 80%;
    }
}
@media screen and (max-width: 500px)
{
    .subscribe-section
    {
        width: 90%;
        margin: auto;
        margin-top: 188px;
    }
    .subscribe-section .input-container
    {
        width: 100%;
    }
    .subscribe-section .input-container input::placeholder,
    .subscribe-section .input-container input
    {
        font-size: 14px;
        color: #e6e6e652;
    }
    .subscribe-section .input-container input
    {
        width: 100%;
        border-radius: 37px;
        background-color: transparent;
        border: 5px solid transparent;
        height: 80px;
        padding-left: 100px;
        border-image: linear-gradient(to right, #A3A3A3, #CCCCCC, #FFFFFF, #CCCCCC, #A3A3A3)1;
    }
}