footer
{
    background: url("../../../assets/img/girl.png");
    width: 100%;
    height: 500px;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;

}
footer .footer-img
{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url("../../../assets/img/footer-pic.png");
    z-index: -1;
    background-size: 100%;
    background-position: center;
}
footer .footer-top
{
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin-left: auto;
    margin-right: 27px;
}
footer .footer-top ul
{
    display: flex;
    flex-direction: column;
    gap: 28px;
}
footer .footer-top ul li
{
    font-size: 16px;
    color: var(--white-clr);
}
footer .footer-top ul li:nth-child(1)
{
    font-size: 20px;
}
footer .footer-top .footer-container ul li
{
    font-size: 16px;
    display: flex;
    gap: 10px;
}
footer .social-icons-container
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--white-clr);
    margin-top: 52px;
}