*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  border: none;
  outline: none;
  transition: 0.3s;
}
:root
{
  --white-clr: #fff;
  --light-clr: #F5F7FA;
  --black-clr: #000;
  --dark-blue-clr: #375B68;
  --medium-blue-clr: #4F7E8E;
  --light-blue-clr: #8EC5CA;
}
.pointer, button, a
{
  cursor: pointer;
}
body
{
  background-color: #375B68;
  overflow-x: hidden;
}